@import "~bootstrap/scss/bootstrap.scss";

.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
   background-color: green;
}

.glow {
    box-shadow: inset 0px 0px 0px 0px #fff, 0 0 20px 15px #fff, 0px 0px 15px 5px rgb(245, 249, 249);
}

.traffic-light {
    background-color: black;
    display: inline-block;
    padding: 10px;
    margin-left: 40%;
    margin-top: 50px;
    border-radius: 20px;
}